.container {
  background: url('../Images/alien-ufo-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  /* padding-bottom: 85px; */
}
.btn {
  display: flex;
  justify-content: center;
}

#start-game-btn {
  background-image: url(../images/button-picture.jpg);
  color: #80d82b;
  height: 50px;
  width: 200px;
  border-radius: 13px;
  font-family: 'comic sans ms';
  font-size: 19px;
  align-self: center;
}

.ufo-gif {
  background-image: url('../images/UFO.gif');
  background-repeat: no-repeat;
  height: 240px;
  width: auto;
}

.how-to-play {
  display: flex;
  flex-direction: column;
}

.header-how-to-play {
  color: #80d82b;
  font-family: 'comic sans ms';
  text-align: center;
}

.arrow-key-how-to-play {
  width: 200px;
  align-self: center;
  padding-bottom: 20px;
}

body {
  /* background: black; */
  height: 100%;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.text-how-to-play {
  color: #80d82b;
  display: flex;
  font-family: 'comic sans ms';
  justify-content: center;
  text-align: center;
}

/* #background {
  background-image: url('../images/unnamed.jpg');
  background-position: 10% 5%;
} */

#canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}

#canvas-cow {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.canvas-container {
  position: relative;
  height: 1200px;
  width: 1200px;
}
