html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
h1 {
  margin: 0;
  padding: 0;
}
canvas {
  margin: 0 auto;
}
canvas#canvas {
  display: block;
  position: relative;
  z-index: 1;
}
.canvas-container {
  /* background-color: yellow; */
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.wrapper {
  background-color: purple;
}

.game-title h1 {
  color: greenyellow;
  text-align: center;
  font-size: 40px;
}

.score {
  color: greenyellow;
  text-align: center;
}

#canvas-cow {
  position: absolute;
  z-index: 11;
  left: 0px;
  top: 0px;
}

#canvas-ufo {
  position: absolute;
  z-index: 12;
  left: 0px;
  top: 0px;
}

footer p {
  color: red;
}

.footer-container {
  text-align: center;
  border-bottom: solid 1px #000;
}
